<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="card" color="light">
        
        <ion-item class="activated">
            <ion-icon name="contact" slot="start"></ion-icon>
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" name="username"></ion-input>
        </ion-item>
        <br>
        <ion-item class="activated">
            <ion-icon name="finger-print" slot="start"></ion-icon>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" name="password"></ion-input>
        </ion-item>
        <br>
        <ion-button color="danger" class="button">Acceder</ion-button>
        <a href="">Registrarse</a>
    </ion-card>
</ion-content>
